
.librairy{
  width: 60%;
  margin-left: 20%;
  border: solid 15px #3A2C2B;
  //margin-bottom: 5%;
}
// SHELF LOGIN
.ShelfSignIn {
  background-image: url(../../assets/fonts/shelf.jpg);
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  align-items: flex-end;
  background-size: contain;
  width: 100%;
}

.chaperon_rouge{
  width: 200%;
  background-image: url(../../assets/fonts/book4.jpg);
  color: white;
  text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;

}

.trois_cochons{
  width: 200%;
  background-image: url(../../assets/fonts/book1.jpg);
  color: #BEF6F3;
  text-shadow: 0 0 10px aquamarine, 0 0 10px #0000FF;


}

// SHELF CATEGORY
.ShelfCategory {background-image: url(../../assets/fonts/shelf.jpg);
  border-top: solid 30px #3A2C2B;
  display: flex;
  padding-top: 5rem;
  align-items: flex-end;
  justify-content: space-evenly;
  background-size: contain;
  width: 100%;
  }


.poule-rousse {
  width: 200%;
  background-image: url(../../assets/fonts/book4.jpg);
  color: white;
  text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;

}

.dishBook{
  width: 170%;
  background-image: url(../../assets/fonts/book1.jpg);
  text-shadow: 0 0 10px aquamarine, 0 0 10px #0000FF;
color: white;
}

.chevreau{
  width: 160%;
  background-image: url(../../assets/fonts/book3.jpg);
  color: #3A55A0;
  text-shadow: 0 0 10px wheat, 0 0 10px burlywood;

}

// SHELF MY ACCOUNT
.ShelfMyAccount {background-image: url(../../assets/fonts/shelf.jpg);
  border-top: solid 30px #3A2C2B;
  display: flex;
  padding-top: 5rem;
  align-items: flex-end;
  justify-items: baseline;
  justify-content: space-around;
  background-size: contain;
  width: 100%;
  }

.mechant_loup{
  width: 130%;
  background-image: url(../../assets/fonts/book1.jpg);
  color: wheat;
  text-shadow: 0 0 10px aquamarine, 0 0 10px #0000FF;

}

.vilain-canard{
  width: 220%;
  background-image: url(../../assets/fonts/book2.jpg);
  text-shadow: 0 0 10px aquamarine, 0 0 10px #0000FF;
color: #624C86;
}

.souris_verte {
  width: 110%;
  background-image: url(../../assets/fonts/book3.jpg);
  color: #3A2C2B;
  text-shadow: 0 0 10px wheat, 0 0 10px burlywood;

}


// ALL BOOKS
.poule-rousse, .dishBook, .chevreau, .chaperon_rouge, 
.trois_cochons, .mechant_loup, .souris_verte, .vilain-canard {
  height: 16rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.poule-rousse:hover, .searchButton:hover, .dishBook:hover, .chevreau:hover, 
.chaperon_rouge:hover, .trois_cochons:hover, .mechant_loup:hover, 
.souris_verte:hover, .vilain-canard:hover {
  color: #D4923F;
}

@media only screen and (max-width: 481px) {
  .poule-rousse, .dishBook, .chevreau, .chaperon_rouge, .trois_cochons, .mechant_loup, .souris_verte, .vilain-canard {
width: 100%; 
height: 10rem;
font-size: 1em;
 }

 .ShelfCategory, .ShelfMyAccount {
  border-top: solid 20px #3A2C2B;
height: 30%;
 }


}

