
body {  background-image: url(../../assets/fonts/background.jpg);
  background-size: auto;
height: 100vh;}

.stpageflip{
  width: 100%;
}
.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.page {
  padding: 20px;
  width: 100%;
  background-color: hsl(35, 55, 98);
  color: hsl(35, 35, 35);

  overflow: hidden;

  .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .page-header {
      height: 30px;
      padding: 3%;
      text-transform: uppercase;
      text-align: center;
    }

     .page-img {
     height: auto;
     background-size: contain;
     background-position: center center;
     background-repeat: no-repeat;
     width: auto;
     display: flex;
     justify-content: center; 
   } 
   
   .img-book {
     height: 250px;
     margin: 30px;
      }
   .page-info {
     display: flex;
     align-items: baseline;
   }
    .page-text {
      height: 100%;
      flex-grow: 1;
      font-size: 80%;
      text-align: justify;
      margin-top: 10px;
      padding-top: 10px;
      box-sizing: border-box;
      border-top: solid 1px hsl(35, 55, 90);
    }

    .text-book{
      font-size: 1.2rem;
      text-align: justify;
      margin-top: 15px;
    }

    .text-color{
      color: #FAB696;
    }

    .page-footer {
      height: 60px;
      border-top: solid 1px hsl(35, 55, 90);
      font-size: 80%;
      color: hsl(35, 20, 50);
    }
  }

  &.--left { // for left page (property will be added automatically)
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
  }

  &.--right { // for right page (property will be added automatically)
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

    .page-footer {
      text-align: right;
    }
  }

  &.hard { // for hard page
    background-color: hsl(35, 50, 90);
    border: solid 1px hsl(35, 20, 50);
  }

  &.page-cover-book4 {
    background-image: url(../../assets/fonts/book4.jpg);
background-size: cover;
color: white;
text-shadow: 0 0 10px #FF0000, 0 0 15px #0000FF;
font-size: 4rem;
    h2 {
      text-align: center;
      padding-top: 50%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &.page-cover-book1 {
    background-image: url(../../assets/fonts/book1.jpg);
background-size: cover;
color: white;
text-shadow: 0 0 10px #FF0000, 0 0 15px #0000FF;
font-size: 4rem;
    h2 {
      text-align: center;
      padding-top: 50%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &.page-cover-book3 {
    background-image: url(../../assets/fonts/book3.jpg);
background-size: cover;
color: #3A2C2B;
  text-shadow: 0 0 10px wheat, 0 0 10px burlywood;
  font-weight: bold;
font-size: 4rem;
    h2 {
      text-align: center;
      padding-top: 50%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &.page-cover-book2 {
    background-image: url(../../assets/fonts/book2.jpg);
background-size: cover;
color: #3A2C2B;
  text-shadow: 0 0 10px wheat, 0 0 10px burlywood;
  font-weight: bold;
font-size: 4rem;
    h2 {
      text-align: center;
      padding-top: 50%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }
}




@media screen and (min-width: 821px) {
  .ListByFlipResponsiv {
   display: none;
  }
}
@media screen and (max-width: 822px) {
  .ListByFlip{
    display: none;
  }

  h2
  {font-size: 2.5rem;}

  .img-book-responsive{height: 150px; width: 150px; margin: 5px;}

  .text-book-responsive{
    font-size: 0.9rem;
    text-align: justify;
    margin: 5px;
  }

  .page{padding-block: 1px; padding-inline: 20px;}

  .flip-book{
    margin: auto;
  }

  .image-recipe {margin-top: 10%;}

}

