//HEADER

.header {
  text-align: center;
  background-image: url(../../assets/fonts/header.jpg);
background-size: cover;
  background-position-y: -13em; 
width: 100%;
position: fixed;
position: absolute;
}

.title{
  margin: 2rem;
  font-size: 5rem;
  color: #814F2E;
  font-weight: bolder;
  font-family: 'Sacramento', cursive;

}

.title:hover{color: #D4B189;}

a{color: #D4B189;}

.whitePlace {padding-bottom: 12em;}

@media only screen and (min-width: 360px) and (max-width: 395px) {
  .title{font-size: 1.5rem;
  margin: 1.5rem;}
  .header{background-position-y: -9rem;
  }

  .whitePlace{padding-bottom: 8rem;}
}

@media only screen and (min-width: 396px) and (max-width: 499px) {
  .title{font-size: 1.5rem;
  margin: 1.5rem;}
  .header{background-position-y: -4.5rem;
  }

  .whitePlace{padding-bottom: 8rem;}
}

@media only screen and (min-width: 500px) and (max-width: 650px) {
  .title{font-size: 1.4rem;
  margin: 1.5rem;}
  .header{background-position-y: -9rem;
  }

  .whitePlace{padding-bottom: 7rem;}
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
  .title{font-size: 2.4rem;
    margin: 1.5rem;}
    .header{background-position-y: -0rem;
    }
  
    .whitePlace{padding-bottom: 12rem;}
}



@media screen and (min-width: 1001px) and (max-width: 1150px) {
  .title{font-size: 2.4rem;
    margin: 2rem;}
    .header{background-position-y: -0rem;
    }
  
    .whitePlace{padding-bottom: 12rem;}
}

@media screen and (min-width: 1151px) and (max-width: 1600px) {
  .title{font-size: 3rem;
    margin: 3rem;}
    .header{background-position-y: -0rem;
    }
  
    .whitePlace{padding-bottom: 12rem;}
}

@media screen and (min-width: 1601px) and (max-width: 1900px) {
  .title{font-size: 3rem;
    margin: 3rem;}
    .header{background-position-y: -0rem;
    }
  
    .whitePlace{padding-bottom: 16rem;}
}




